.icons {
    color: black;
    width: 500px;
    height: 200px;
    right: 20%;
}

.fa fa-search {
    position: absolute;
    right: 10%;
}

.fa fa-bars {
    position: absolute;
    left: 10%;
}

<div class="icons "><i class="fa fa-search "></i><i class="fa fa-bars "></i></div><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-